$blue:#1E0261;
$mint-blue:#220555;
$enable-responsive-font-sizes :true;

.claimpaul-banner{
    .slider{
        // min-height:1000px;
        background-color:$blue;
        color:white;
        display:flex;
        background-size:cover;
        .slide{
            flex:1;
            // max-height:824px;
            background-color: $mint-blue;
            border: 2px solid white;
            border-radius: 23px;
            margin-left: 50px;
            margin-top:50px;
            margin-right:50px;
            position:relative;

          .content-holder{
              flex:0.5;
          }
           
           .content{
                height:300px;
                border: 1px solid #707070;
                border-radius: 51px;
                background: #fff;
                margin-top:20px;
                margin-bottom:20px;
                margin-left:20px;
                margin-right:20px;

                .sub-content{
                
                   .title{
                        color:#0C0101;
                        
                    }
    
                    .sub-title{
                        color:#0C0101;
                    }

                }
                .image
                {
                    display:inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(@/../assets/img/home/homeimg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
                }

               
                
                
            }


            
        }
    }
}